django
groq
python-dotenv
djangorestframework
numpy
opencv-python
dlib
av
deepface
pyAudioAnalysis
pyaudio
librosa
phonemizer
pydub
munch
transformers
accelerate
torchaudio
espeakng
torch
torchvision
localtunnel
scipy
matplotlib
git+https://github.com/tyiannak/pyAudioAnalysis.git
watchdog
SpeechRecognition
